
.logo_canvas {
  display: flex;
  margin-top:10%;
  justify-content: center;
  align-items: center;
  height: 150px;

}

.logo_container {
  position: relative;
  width:200px;
  height:200px;
}

.logo_outline, .logo_full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
